---
import HeaderLink from './HeaderLink.astro';
import Toggle from './ThemeSwitch.astro'
import { SITE_TITLE } from '../config';
---

<header>
	<div style="display: flex; justify-content: space-between;">
		<h2>{SITE_TITLE}</h2>
		<Toggle />
	</div>	
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="https://twitter.com/timonfoerster" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/tjfoerster" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://gitlab.com/tjfoerster" target="_blank">GitLab</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		position: sticky;
		top: 0;
		background-color: var(--color-bg);
		opacity: 0.9;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
